.about{
	cursor: pointer;
	background-color: #6B062D;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 30px;
}

.main-wrapper {
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.wrapper-abouUs{
	text-align: justify;
    padding-right: 5px;
}
.about h1 {
	padding: 10px 0;
	margin-bottom: 20px;
}
.about h2 {
	opacity: .8;
}
.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background-color: #4C0822;
	border: 2px solid #4C0822;

	webkit-transition:all .5s ease;
 	moz-transition:all .5s ease;
 	os-transition:all .5s ease;
 	transition:all .5s ease;

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid #CC0039;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: #CC0039;
	font-size: 14px;
	font-weight: bold;
}
  
.cardWrapper {
	padding-top: 30px;
}


  body {
	background-color: #0C0C0C;
	font-family: 'Noto Sans', sans-serif;
  }
  
  $card-size: 25rem;
  $flip-duration: 1s;
  $perspective: 15rem;
  $degree: 90deg;
  .Card {
	margin: 1rem;
	// margin-left: 5rem;
	text-align: left;
	width: 50%;
	display: inline-block;
	cursor: pointer;
	
	.Card-Front,
	.Card-Back {
	  width: 40rem;
	  height: $card-size;
	  text-align: center;
	  margin-bottom: -$card-size / 2;
	  border: 1px solid;
	  
	  p {
		margin: 0;
		padding: 0.5rem;
	  }
	  h3 {
		padding: 0 2rem;
		top: 2rem;
	  }
	}

	.why-tech-iduyatha{
		text-align: justify;
  		text-justify: inter-word;
	}
	
	.Card-Front {
	  position: relative;
	  z-index: 1;
	  background-color: skyblue;
	  color: #FFFFFF;
	  
	  // Animations
	  &.Card-Back-Flip {
		animation: back-flip-1 $flip-duration 1 forwards;
		@keyframes back-flip-1 {
		  0% {transform: rotateY(0deg); z-index: 1}
		  50% {transform: rotateY($degree) perspective($perspective); z-index: 1}
		  100% {transform: rotateY($degree); z-index: -1}
		}
	  }
	  
	  &.Card-Front-Flip {
		animation: front-flip-1 $flip-duration 1 forwards;
		@keyframes front-flip-1 {
		  0% {transform: rotateY(-$degree); z-index: -1}
		  50% {transform: rotateY(-$degree) perspective($perspective); z-index: -1}
		  100% {transform: rotateY(0deg); z-index: 1}
		}
	  }
	}
	
	.Card-Back {
	  font-size: 0.9rem;
	  position: relative;
	  z-index: -1;
	  top: -$card-size / 2;
	  color: #012E34;
	  background-color: #FFFFFF;
	  
	  // Animations
	  transform: rotateY(-$degree); 
	  &.Card-Back-Flip {
		animation: back-flip-2 $flip-duration 1 forwards;
		@keyframes back-flip-2 {
		  0% {z-index: -1}
		  50% {transform: rotateY(-$degree) perspective($perspective); z-index: -1}
		  100% {transform: rotate(0deg); z-index: 1}
		}
	  }
	  
	  &.Card-Front-Flip {
		animation: front-flip-2 $flip-duration 1 forwards;
		@keyframes front-flip-2 {
		  0% {transform: rotate(0deg); z-index: 1}
		  50% {transform: rotateY($degree) perspective($perspective); z-index: 1}
		  100% {transform: rotateY($degree); z-index: -1}
		}
	  }
	}
  }
  
  .Cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	.Card:nth-child(2n+2) {
	  .Card-Front { background-color: #804815; color: #FFD3AA; }
	  .Card-Back { background-color: #D49D6A; color: #012E34; }
	}
	.Card:nth-child(3n+3) {
	  .Card-Front { background-color: #801D15; color: #FFB0AA; }
	  .Card-Back { background-color: #FFB0AA; color: #012E34; }
	}
	.Card:nth-child(4n+4) {
	  .Card-Front { background-color: #805E15; color: #FFE4AA; }
	  .Card-Back { background-color: #FFE4AA; color: #012E34; }
	}
  }

  .why-wrapper {
	width: 60%;
    max-width: 1600px;
    height: 90%;
    /* color: #fff; */
    /* text-shadow: 0 1px 1px #131413; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    background: url(../assets/question_mark.png) no-repeat, white;
	background-size: cover;	
	
  }