.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainWrapper {
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

html,body{
  width: 100vw;
  height: 100vh;
}

footer {
  background: #666;
  color: #fff;
  padding: 1vw;
}


main {
  flex: 1;
  background: white;
  padding: 1vw;
  width: 100%;
  height: 100%;
}

header {
  padding: 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
	width: 100%;
	max-width:1600px;
	height: 100%;
	color: #fff;
	text-shadow: 0 1px 1px #131413;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	background: linear-gradient(
		to top,
		rgba(19, 20, 19, 0.95) 0%,
		rgba(19, 20, 19, 0) 40%
	),
	linear-gradient(
		to bottom,
		rgba(19, 20, 19, 0.95) 0%,
		rgba(19, 20, 19, 0.1) 40%
	),
	url("../src/assets/managed-services-banner.png")
		no-repeat center center,
	#474a48;
	background-size: cover;
}
.heading-wrapper {
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.main-heading {
	font-size: 1.9em;
	padding: 25px;
}

.main-heading:before,
.main-heading:after {
	display: block;
	content: "";
	width: 40%;
	margin: auto;
}
.main-heading:before {
	margin-bottom: 25px;
	border-bottom: 2px solid #fff;
	padding-bottom: 30px;
}
.main-heading:after {
	margin-top: 25px;
	border-top: 2px solid #fff;
	padding-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-left{
	float: left;
}

.footer-right{
	float: right;
	padding-right: 50px;
}

.footer-icons{
	margin-top: 40px;
}

.logo {
	/* position: relative; */
	background-image: url('../src/assets/logoWhite.jpg');
	height: 50px;
  width: 80px;
  background-repeat: no-repeat;
  }

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}

.footer-right {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
